@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
    font-size: 100%;
}
.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 28px;
}
  
.cabecalho-imagem {
    height: 110px;
    width: 230px;
}
  
.cabecalho-menu {
    display: flex;
    gap: 32px;
}
  
.cabecalho-menu-item {
    font-family: 'Sarala', sans-serif;
    color: #ffff;
    font-weight: 400;
    font-size: 24px
}

main aside p {
    font-family: 'Sarala', sans-serif;
    margin-left: 10px;
}
